*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: #FAF7F3;
}
:root{
    --bg-c :#5271EE;
}
.or{
    position: relative;
    /* top: 0; */
    top: 0;
}
hr{
    position: absolute;
}
main{
    border: 1px solid black;
    border-radius: 8px;
    height: 600px;
    background-color: #E6F2FE;
}
h1{
    margin-top: 0;
    background-color: var(--bg-c);
    color: white;
    text-align: center;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
button.use-location{
    background-color: gray;
}
.container{
    display: flex;
    justify-content: center;
    gap: 35px;
}
input{
    width: 100%;
}
.current-weather{
    background-color: var(--bg-c);
    /* height: 90px; */
    width: 100%;
    color: white;
    padding: 15px;
    border-radius: 8px;
    height: 175px;
}
input+button, p+button{
    background-color: var(--bg-c);
    width: 100%;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin-top: 8px;
    padding: 5px;
    color: white;
    font-size: 18px;

  
}
.first-content{
      margin: 15px;
}
input{
    padding: 12px;
    border-radius: 5px;
    border: 2px solid whitesmoke;
}
input:focus{
    border: 2px solid salmon;
    outline: none;
}

hr+p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;

}
h2{
    color:black;
    margin: 25px;
}
.other-days{
    color: black;
    display: flex;
    gap: 60px;

}
.first-day, .second-day, .third-day, .fourth-day{
    width: 200px;
    background-color: gray;
    padding: 15px;
    border-radius: 6px;
}
.location{
    font-size: 20px;
    font-weight: bold;
}